@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Add more @font-face rules if you have more weights/styles */
